<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Core Online Tutorial -Company</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">

    <h2>Company Details</h2>
    <div>
        <form class="form-horizontal" th:object="${classmoForm}" th:action="@{/classmo}" method="post">

            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <p th:text="#{form.hasErrors}">Error Message</p>
            </div>

            <input type="hidden" th:field="*{id}"/>

            <div class="form-group" th:class="${#fields.hasErrors('companyId')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">CompanyId:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{companyId}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('companyId')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>
            <div class="form-group" th:class="${#fields.hasErrors('companyName')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">CompanyName:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{companyName}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('companyName')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>
            <div class="form-group" th:class="${#fields.hasErrors('reportLogo')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">ReportLogo:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{reportLogo}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('reportLogo')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>
            <div class="form-group" th:class="${#fields.hasErrors('reportLogopath')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">ReportLogoPath:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{reportLogopath}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('reportLogopath')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>